<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.briup.framework.mapper.extend.ManagerCustomerExtendMapper">
  <resultMap id="ManagerCustomerExtendMap" type="com.briup.framework.bean.extend.ManagerCustomerExtend" extends="com.briup.framework.mapper.ManagerCustomerMapper.BaseResultMap">
      <association property="account" resultMap="com.briup.framework.base.mapper.ext.BaseAccountExtMapper.baseResult"></association>
  </resultMap>

    <update id="deleteInBatch" parameterType="List">
        update manager_customer
        set  c_delete=1
        where c_id in
        <foreach collection="ids" open="("  separator="," close=")" item="id">
            #{id}
        </foreach>
    </update>

    <update id="deleteById" parameterType="int">
        update manager_customer
        set  c_delete=1
        where c_id = #{id}
    </update>

    <select id="queryAll" resultMap="com.briup.framework.mapper.ManagerCustomerMapper.BaseResultMap">
        select  c_id, c_company, c_name, c_address, c_phone, c_level, c_usale_id, c_delete
        from manager_customer
        where c_delete=0
    </select>

    <select id="query" resultMap="ManagerCustomerExtendMap">
        select ac.account_id, username, password, avatar, email, mobile, status, br.role_id,br.role_name,br.remark,c.*
        from manager_customer c
        left join base_account ac on c.c_usale_id = ac.account_id
        left join base_account_role_r r on ac.account_id = r.account_id
        left join base_role br on r.role_id = br.role_id
        <where>
            <if test="company != null">
                and c.c_company like concat('%',#{company},'%')
            </if>
            <if test="name != null">
                and c.c_name like concat('%',#{name},'%')
            </if>
            <if test="usaleId != null">
                and c.c_usale_id = #{usaleId}
            </if>
            <if test="level != null">
                and c.c_level = #{level}
            </if>
        </where>
    </select>

    <select id="queryAllUser" resultMap="com.briup.framework.base.mapper.ext.BaseAccountExtMapper.baseResult">
       select ac.account_id, username, password, avatar, email, mobile, status, br.role_id,br.role_name,br.remark
       from base_account ac
       left join base_account_role_r r on ac.account_id = r.account_id
       left join base_role br on r.role_id = br.role_id
       where ac.account_id in (select distinct c_usale_id
                                from manager_customer)
    </select>
</mapper>