<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.briup.framework.mapper.extend.ManagerFreezerExtendMapper">
    <resultMap id="FreezerExtendMap" type="com.briup.framework.bean.extend.ManagerFreezerExtend" extends="com.briup.framework.mapper.ManagerFreezerMapper.BaseResultMap">
        <association property="baseAccount" resultMap="com.briup.framework.mapper.extend.ManagerFreezerExtendMapper.UserExtendMap1"/>
    </resultMap>
    <resultMap id="UserExtendMap" type="com.briup.framework.base.bean.basic.BaseAccount" extends="com.briup.framework.base.mapper.basic.BaseAccountMapper.BaseResultMap">
    </resultMap>
    <resultMap id="UserExtendMap1" type="com.briup.framework.bean.extend.BaseAccountExtend" extends="com.briup.framework.base.mapper.basic.BaseAccountMapper.BaseResultMap">
        <association property="baseRole" resultMap="com.briup.framework.base.mapper.basic.BaseRoleMapper.BaseResultMap"/>
    </resultMap>
    <select id="queryFreezer" resultMap="UserExtendMap">
        select b.account_id, b.username, b.password, b.avatar,
               b.email, b.mobile, b.status, b.create_user_id,
        b.create_time, b.modifier_user_id, b.modifier_time
         from base_account b,(select distinct fz_ucold_id from manager_freezer where fz_delete=0) f
          where b.account_id=f.fz_ucold_id
    </select>
    <select id="query"  resultMap="FreezerExtendMap">
        select
        f.fz_id, f.fz_name, f.fz_num, f.fz_area, f.fz_quantity,
               f.fz_temperature, f.fz_humidity, f.fz_ucold_id,
        f.fz_delete,
               b.account_id, b.username, b.password, b.avatar,
        b.email, b.mobile, b.status, b.create_user_id,
        b.create_time, b.modifier_user_id, b.modifier_time,
        r.role_id, r.role_name, r.remark, r.create_user_id, r.create_time, r.modifer_user_id,
        r.modifer_time
        from manager_freezer f left  join base_account b on f.fz_ucold_id=b.account_id,base_role r,base_account_role_r ar
        <where>
               b.account_id=ar.account_id and r.role_id=ar.role_id
            <if test="fzName != null">
                AND f.fz_name like concat('%',#{fzName},'%')
            </if>
            <if test="fzNum != null">
                AND f.fz_num=#{fzNum}
            </if>
            <if test="freezerId != null">
                AND f.fz_ucold_id like concat('%',#{freezerId},'%')
            </if>
        </where>
        order by f.fz_id asc
    </select>
    <update id="updateById" parameterType="int">
        update manager_freezer set  fz_delete=1 where fz_id=#{fzId}
    </update>
    <select id="queryAll" resultMap="com.briup.framework.mapper.ManagerFreezerMapper.BaseResultMap">
        select * from manager_freezer where fz_delete=0
    </select>
    <select id="selectByIdQuantity" parameterType="int" resultType="int">
        select fz_quantity from manager_freezer where fz_id=#{fzId}
    </select>
    <update id="updateByIdQuantity">
        update manager_freezer set fz_quantity=#{fzQuantity} where fz_id=#{fzId}
    </update>
</mapper>